<% content_for :title do %>About Course Companion<% end %>
<div class="hero-unit">
	<div class="center">
<h3>About Course Companion</h3>

<p>Course Companion is an adjunct to your face to face courses. It hosts simple pre and post course material and Q&amp;As in an online environment.<p>
<ul>
	<li>Fully responsive design that works on any mobile device or desktop</li>
	<li>Designed by an educator to maximise learning</li>
	<li>Uses the Testing-Effect and Distributed Learning principles to increase knowledge retention</li>
	<li>Admin and instructor users can enter and modify all course content</li>
	<li>Logs when users have completed each module</li>
</ul>
</div>
</div>

<h4>Solid Education Basis</h4>
<p>Blended Learning Strategy:</br>
Blended learning uses a mix of delivery methods to teach and caters for a range of learning styles. For example, workplace orientation needs face to face explanation but how do you know people have listened? With longer sessions people switch off - Course Companion refocuses your students on the key parts of your material and by taking them through a Q&amp;A sequence they will think about and understand these key points.</p>
<p>100% Understanding:</br>
Course Companion takes each course attendee through a series of Q&amp;As for each topic, and will only mark an attendee as completing a topic after all questions have bee answered correctly. That way you know that your material has been understood.</p>
<p>Pre-work:</p>
<ul>
	<li>Post pre-reading ahead of the course</li>
	<li>Brings a mix of students all up to the same level</li>
	<li>Verify student understanding by setting Q&amp;As that all need to answer before the course</li>
</ul>
<p>Post-work:</p>
<ul>
	<li>Post summary material for each topic covered by your course</li>
	<li>Write your own Q&amp;As that cover key points</li>
	<li>As students read the material and answer the Q&amp;As, they reinforce what you have taught in class</li>
</ul>
<p>&nbsp;</p>
<h4>Your Own Content</h4>
<p>Easily enter your own material using simple forms. Course Companion is designed to implement your content in a way that is pedagiogically sound, so even if you are not an education expert or a techie you will have your courses up and running in no time! Best of all, you won't need to pay a content designer.</p>
<p>&nbsp;</p>
<h4>Who Built Course Companion?</h4>
<p>Course Companion was built by Andrew Kemp, an education designer and experienced workplace training and orientation facilitator. Andrew has a MA (IT in Ed) from the University of Wollongong and designed Course Companion to allow anyone to get an online course up and running cheaply without any technical or education knowldege.</p>
<p>&nbsp;</p>
<h4>Screen Shots</h4>

<div id="screenshots" class="table-responsive">
	<table class="table">
		<tr>
			<td class="span4">
				<p>Course Listing</p>
				<p><%= image_tag("availcourses.png") %></p>
			</td>
		</tr>
		<tr>
			<td class="span4">
				<p>Topics in a Course</p>
				<p><%= image_tag("topicslist.png") %></p>
			</td>
		</tr>
		<tr>
			<td class="span4">
				<p>Topic Page</p>
				<p><%= image_tag("blade-mounting.png") %></p>
			</td>
		</tr>
		<tr>
			<td class="span4">
				<p>User Profile<p/>
				<p><%= image_tag("userprofile.png") %></p>
			</td>
		</tr>
	</table>
</div>

<h4>Try It Out!</h4>
<p>Read the <%= link_to 'Set Up A Trial', page_path('askdemo') %> page to see how you can have a fully functional Course Companion set up for your organisation.</p>
